// START BANNER
#home-banner {
  background: url(../images/banner/home-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  margin-top: -126px;
  .video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .banner-slider {
    height: 100%;
    .swiper {
      height: 100%;
    }
    .slider-button-next {
      right: 40px;
    }
    .slider-button-prev {
      left: 40px;
    }
  }
  .banner-wrapper {
    padding-top: 200px;
    height: 100%;
  }
  .banner-content {
    padding-left: calc((100% - 1160px) / 2);
    height: 100%;
    .heading-block {
      .desc {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: $fw-l;
      }
      .button {
        margin-top: 30px;
      }
    }
  }
  .banner-image {
    @include flex(center, end, unset);
    height: 100%;
  }
}
// END BANNER

// START VIDEO
#home-video {
  margin-top: 150px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27%;
    background-color: $white;
    z-index: -1;
  }
  .heading-block {
    .title {
      text-align: center;
    }
    .desc {
      max-width: 596px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .video-container {
    margin-top: 50px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1160/555;
    position: relative;
    &.play {
      &::after {
        display: none;
      }
      .video-control-button {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: url(../images/others/video-cover.jpg) no-repeat center;
      background-size: cover;
    }
    .video-control-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      border-radius: 500px;
      @include flex(center, center, unset);
      width: 65px;
      aspect-ratio: 1;
      z-index: 3;
      outline: none;
      border: none;
      img {
        width: 17px;
        margin-left: 4px;
      }
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
// END VIDEO

// START BOOK
#home-book {
  margin-top: 174px;
  padding-bottom: 166px;
  .book-wrapper {
    @include flex(space-between, unset, 20px);
  }
  .book-content {
    max-width: 463px;
    .heading-block {
      .title {
        margin-bottom: 14px;
      }
    }
    .text {
      color: $white;
      font-size: 18px;
      line-height: 30px;
      font-weight: $fw-l;
      margin-bottom: 17px;
    }
    .button {
      margin-top: 30px;
    }
  }
  .book-image {
    max-width: 558px;
    overflow: hidden;
    aspect-ratio: 558/613;
    border-bottom-left-radius: 100px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
// END BOOK

// START BLOG
#home-blog {
  background-color: $white;
  padding: 140px 0;
}
// END BLOG

// START FORM
#home-form {
  margin-top: 160px;
}
// END FORM

// START RESPONSIVE
@include extra-desktop {
  #home-banner {
    aspect-ratio: unset;

    .banner-wrapper {
      justify-content: center;
      align-items: center;
      padding: 100px 0;
    }
    .banner-content {
      max-width: 80%;
      padding-left: 0;
      .heading-block {
        @include flex(center, center, unset);
        flex-direction: column;
        * {
          text-align: center;
        }

        .hero-title {
          br {
            display: none;
          }
        }
      }
    }
    .banner-image {
      display: none;
    }
  }
}

@include desktop {
  #home-banner {
    .heading-block {
      .desc {
        font-size: 14px;
        line-height: 29px;
      }
    }
  }
}

@include tablet {
  #home-book {
    .book-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
    .book-image {
      aspect-ratio: unset;
      max-width: unset;
      width: 100%;
    }
    .book-content {
      max-width: unset;
    }
  }
}

@include landscape-phone {
  #home-banner {
    .banner-content {
      max-width: 95%;
    }
    .banner-slider {
      .slider-button {
        display: none;
      }
    }
  }
}

// END RESPONSIVE
